<!DOCTYPE HTML>
<html>
<%- partial('components/head') %>

<body>
<div class="blog">
  <div class="content">

    <%- partial('components/header') %>

    <main class="site-main posts-loop">
    <%- body %>
    </main>

    <%- partial('components/footer') %>
    <%- partial('components/googleanalytics') %>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bubbly-bg@0.2.3/dist/bubbly-bg.js"></script>
<script>bubbly(
  {
    colorStart: "#fff4e6",
    colorStop: "#ffe9e4",
    blur: 1,
    compose: "source-over",
    bubbleFunc: () => `hsla(${Math.random() * 50}, 100%, 50%, .3)`,
    bubbles: 9
  });</script>
</body>
</html>