<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="<%- theme.direction -%>">
    <div class="m-page">
        <div class="m-shell">
            <%- partial('_partial/header') %>
            <div class="m-content">
                <%- body %>
            </div>
            <%- partial('_partial/footer') %>
        </div>
    </div>
    <%- partial('_partial/styles') %>
    <%- partial('_partial/scripts') %>
</body>
</html>
