<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="m-crumb">
    <a href="<%- url_for('/archives/') %>">&larr; Archive</a>
    <% if (page.categories && page.categories.length) { %>
      <span class="sep">/</span><%= page.categories.toArray()[0].name %>
    <% } %>
    <% if (page.tags && page.tags.length) { %>
      <span class="sep">/</span><%= page.tags.toArray()[0].name %>
    <% } %>
  </div>

  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="postdate" itemprop="datePublished"><%- date(page.date, 'MMMM D, YYYY') %></span>
      <span> &middot; </span>
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name"><% if (page.author) { %><%= page.author %><% } else { %><%= config.author || config.title %><% } %></span>
      </span>
      <%- partial('_partial/post/category') %>
    </div>
  </header>

  <%- partial('_partial/post/gallery') %>

  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>

  <% if (page.tags && page.tags.length) { %>
    <div class="m-tag-row">
      <% page.tags.each(function(tag){ %>
        <span class="chip"><a href="<%- url_for(tag.path) %>"><%= tag.name %></a></span>
      <% }) %>
    </div>
  <% } %>
</article>

<%- partial('_partial/comments') %>
